DISCORD_TOKEN=
DISCORD_CLIENT_ID=
DISCORD_GUILD_ID=

POSTGRES_DB=slay_the_traitor
POSTGRES_USER=slay_the_traitor
POSTGRES_PASSWORD=change_me
POSTGRES_PORT=5432

DATABASE_URL=postgresql://slay_the_traitor:change_me@localhost:5432/slay_the_traitor